* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
    --bg-color: #ffec99;
    --font-color: #ae3ec9;
    --font-family: 'Roboto', sans-serif;
    --transition: all ease-in .5s;
}

nav .container ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding-right: 1em;
    position: relative;
}

nav .container ul li {
    background: transparent;
    transition: var(--transition);
    position: relative;
    padding: 2em 1em;
}

nav .container ul li::before{
    content: "";
    position: absolute;
    transition: var(--transition);
    width: 0%;
    height: 4px;
    left: 0;
    bottom: 0;
}

nav .container ul li:hover:before {
    background: var(--font-color);
    width: 100%;
}

nav .container ul li a {
    font-family: var(--font-family);
    color: var(--font-color);
    text-decoration: none;
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container ul li a .icon {
    font-size: 1.3em;
    padding: 0 .5em;
}

nav .container ul .hamburger {
    width: 40px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    cursor: pointer;
}

nav .container ul .hamburger .line {
    width: 35px;
    height: 3px;
    background: var(--font-color);
    transition: var(--transition);
}

nav .container ul .hamburger .line:nth-child(2){
    width: 15px;
    height: 3px;
    transform: scaleX(2) translateX(10px);
}


nav .container ul .hamburger .line:nth-child(1).active {
    width: 15px;
    height: 3px;
    transform: rotate(45deg) translate(20px,4px);
}

nav .container ul .hamburger .line:nth-child(2).active {
    width: 15px;
    height: 3px;
    transform: scaleX(2) translateX(10px);
}

nav .container ul .hamburger .line:nth-child(3).active {
    width: 15px;
    height: 3px;
    transform: rotate(-45deg) translate(20px,-4px);
}

nav aside {
    position: absolute;
    right: 100%;
    background: var(--bg-color);
    width: 100%;
    height: auto;
    text-align: center;
    transition: var(--transition);
}

aside.active {
    right: 0%;
}

aside ul {
    list-style: none;
}

aside ul li {
    padding: 1.6em;
    width: 50%;
    position: relative;
    transform: translate(50%, 10%);
}

aside ul li::before{
    content: "";
    position: absolute;
    transition: var(--transition);
    width: 0%;
    height: 4px;
    left: 0;
    bottom: 0;
}

aside ul li:hover:before {
    background: var(--font-color);
    width: 100%;
}

aside ul li a {
    text-decoration: none;
    font-family: var(--font-family);
    color: var(--font-color);
    font-size: 1.3em;
}

nav .container ul .name {
    font-family: var(--font-family);
    color: var(--font-color)
}

nav .container ul .name span {
    font-weight: 600;
}
@media screen and (max-width: 806px) {
    nav .container ul li a span {
        display: none;
    } 
}

@media screen and (max-width: 702px) {

    nav .container ul .hamburger .line {
        width: 30px;
        height: 2px;
    }

    aside ul li::before{
        height: 1px;
    }

}

@media screen and (max-width:500px) {

    nav .container ul .hamburger .line {
        width: 25px;
        height: 1px;
    }

    nav .container ul .hamburger .line:nth-child(1).active {
        width: 15px;
        height: 1px;
    }

    nav .container ul .hamburger .line:nth-child(2).active {
        width: 15px;
        height: 1px;
    }

    nav .container ul .hamburger .line:nth-child(3).active {
        width: 15px;
        height: 1px;
    }

    aside ul li {
        width: 100%;
        transform: translate(-1.2%);
        padding: .9em 1.6em;
    }

    nav .container ul .name {
        font-size: .9em;
    }
}

@media screen and (max-width: 379px) {
    nav .container ul {
        text-align: center;
    }
}


